@import url(variable.css);

body {
    background-color: var(--white-color);
    overflow-x: hidden;
    font-family: var(--main-font);
}

.login__header {
    padding: 1rem;
    align-items: center;
    gap: 1rem;
}

.login__header i {
    font-size: var(--font-size-2);
}

.login__content {
    padding: 2rem;
    flex-direction: column;
    gap: 2rem;
}

input {
    border: 2px solid var(--gray-color);
    padding: .5rem;
    border-radius: .5rem;
}

.login__form {
    flex-direction: column;
    gap: 2rem;
}

.signup__link {
    font-size: var(--font-size-1);
    display: flex;
}

.signup__link a {
    color: var(--dark-green-color);
}

.btn__login {
    background-color: var(--dark-green-color);
    position: relative;
    padding: 0.5rem;
    border-radius: .5rem;
    color: var(--white-color);
    justify-content: center;
}

@media screen and (min-width: 968px) {
    #header {
        width: 75%;
        margin-inline: auto;
    }
    .login__content {
        width: 40%;
        margin-inline: auto;
    }
}